GITHUB_USERNAME=Matithieu
REPO1=https://github.com/Matithieu/InfoCompanies-API.git
REPO2=https://github.com/Matithieu/InfoCompanies-Front.git
REPO3=https://github.com/Matithieu/InfoCompanies-Scraping-API
REPO4=https://github.com/Matithieu/InfoCompanies-Data-Model

# https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview
# To generate a random cookie secret, look at the link above
OAUTH2_PROXY_COOKIE_SECRET=iCg-xr79FO66_EiOhZF3pOsEGnNfARiH50MX0AWaBU8=

OAUTH2_PROXY_CLIENT_SECRET=ec900c4c-27d1-4257-bb77-5492fccac99f

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FULL_DOMAIN=https://localhost:443
HOSTNAME=localhost
PORT=443
HOSTNAME_PORT=localhost:443

POSTGRES_USER=postgres
POSTGRES_PASSWORD=root

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_REGISTER_CLIENT_ID=
KEYCLOAK_REALM=

# InfoCompanies-API
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_FREE=price_1PdHWLKjCboMtBPjo3G7vEiC
STRIPE_PRICE_ID_BASIC=price_1PSHL4KjCboMtBPjAF9ZID55
STRIPE_PRICE_ID_PREMIUM=price_1PSHL1KjCboMtBPjlaDDyTTo

# Grafana
GF_SECURITY_ADMIN_PASSWORD=admin
GF_SECURITY_ADMIN_USER=admin
