# GitHub
GITHUB_USERNAME=
REPO1=https://github.com/xxxx/App-API.git
REPO2=https://github.com/xxxx/App-Front.git

# Domain
FULL_DOMAIN=https://localhost:443
HOSTNAME=localhost
PORT=443
HOSTNAME_PORT=localhost:443

# OAuth2-Proxy
# https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview
OAUTH2_PROXY_COOKIE_SECRET=iCg-xr79FO66_EiOhZF3pOsEGnNfARiH50MX0AWaBU8=
OAUTH2_PROXY_CLIENT_SECRET=ec900c4c-27d1-4257-bb77-5492fccac99f

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root

# PgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Keycloak
KEYCLOAK_URL=http://keycloak:8080/auth
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_ADMIN_CLI_REALM=admin-cli
KEYCLOAK_ADMIN_CLI=local-admin@mail.com
KEYCLOAK_ADMIN_CLI_PASSWORD=password
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# InfoCompanies-API
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_FREE=price_1PdHWLKjCboMtBPjo3G7vEiC
STRIPE_PRICE_ID_BASIC=price_1PSHL4KjCboMtBPjAF9ZID55
STRIPE_PRICE_ID_PREMIUM=price_1PSHL1KjCboMtBPjlaDDyTTo

# Grafana
GF_SECURITY_ADMIN_PASSWORD=admin
GF_SECURITY_ADMIN_USER=admin
