# Database
POSTGRES_DATA_SOURCE_URL=jdbc:postgresql://postgres:5432/postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
SPRING_JPA_SHOW_SQL=false
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# Keycloak
KEYCLOAK_URL=http://keycloak:8080/auth
KEYCLOAK_REALM=boilerplate-production-app
KEYCLOAK_CLIENT_ID=admin-cli
KEYCLOAK_GRANT_TYPE=password
KEYCLOAK_ADMIN_CLI=
KEYCLOAK_ADMIN_PASSWORD=

# Stripe
STRIPE_WEBHOOK_SECRET=
STRIPE_API_KEY=
STRIPE_PRICE_ID_FREE=
STRIPE_PRICE_ID_BASIC=
STRIPE_PRICE_ID_PREMIUM=