# Logs
logs
*.log

# Node modules
node_modules

# Build directory
dist

# Test results
/test-results/
/playwright-report/

# Environment files
*.env.local

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git files
.git
.gitignore